version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-app
    ports:
      - "4000:3000"
    env_file:
      - .env
    environment:
      # Please delete this line if when you deploy to Azure
      - NEXTAUTH_URL=http://localhost:4000
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/app_db
      - NODE_ENV=production
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:4000/api/health",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: eol-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "15432:5432"
    volumes:
      - postgres_data2:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
